.contentBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--Bg-Button, #1a1a1a);
  text-align: center;
  font-family: "Archivo Black";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 56px */
}

.description {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  /* 36px */
}

.btn {
  margin-top: 1.5rem;
  /* mt-6 = 24px */
  padding-left: 1.5rem;
  /* px-6 = 24px */
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  /* py-3 = 12px */
  padding-bottom: 0.75rem;
  background-color: black;
  /* bg-black */
  color: white;
  /* text-white */
  font-size: 0.875rem;
  /* text-sm = 14px */
  font-weight: 500;
  /* font-medium */
  border-radius: 0.375rem;
  /* rounded-md = 6px */
  width: 240px;
  /* w-[240px] */
  transition: all 0.2s ease;
  /* transition */
  height: 52px;
}

@media (max-width: 768px) {
  .contentBlock {
    width: 50vw;
  }
}

@media (max-width: 425px) {
  .contentBlock {
    width: 100vw;
    height: 367px;
    padding: 0 30px;
  }

  .mobileTagline {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 22px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: TharLon;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    letter-spacing: 0.64px;
    text-transform: uppercase;
    position: absolute;
    bottom: 7px;
    left: 25vw;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
  }

  .btn {
    width: 200px;
    // margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .mobileTagline {
    left: 20vw;
  }
}

@media (max-width: 320px) {
  .mobileTagline {
    left: 15vw;
  }
}
